[Desktop Entry]
Type=Application
Name=HUD Settings
Exec=/usr/lib/mate-hud/hud-settings.py
Icon=mate-hud
StartupNotify=false
Terminal=false
Categories=GTK;Settings;DesktopSettings;
X-XfcePluggable=true
