[Desktop Entry]
Type=Application
Name=MATE HUD
Exec=/usr/lib/mate-hud/mate-hud.py
NoDisplay=true
X-MATE-Autostart-Phase=Initialization
X-MATE-Autostart-Notify=false
X-MATE-AutoRestart=true