[Desktop Entry]
Type=Application
Name=MATE HUD
Exec=/usr/lib/mate-hud/mate-hud
NoDisplay=true
StartupNotify=false
Terminal=false
X-MATE-Autostart-Delay=5
