Name=MATE HUD
Exec=/usr/lib/mate-hud/mate-hud
NoDisplay=true
AutostartCondition=GSettings org.mate.hud enabled
X-MATE-Autostart-Phase=Initialization
X-MATE-Autostart-Notify=false
X-MATE-AutoRestart=true
